desktop.ini
.vscode/
thermometer/include/secrets1.h
thermometer/include/secrets2.h
thermometer/include/secrets3.h
thermometer/include/secrets5.h
thermometer/include/secrets4.h
thermometer/include/secrets6.h
TestCode/
