desktop.ini
.vscode/
unused/thermometer/include/secrets1.h
unused/thermometer/include/secrets2.h
unused/thermometer/include/secrets3.h
unused/thermometer/include/secrets5.h
unused/thermometer/include/secrets4.h
unused/thermometer/include/secrets6.h
unused/thermometer/include/secrets7.h
unused/thermdisplay/include/secrets1.h
Co2Screen/include/secrets.h
